# Copiez ce fichier en .env.local et remplissez vos informations SMTP
EMAIL_SERVER_HOST=hichriwassim84@gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_SECURE=false
EMAIL_SERVER_USER=smtp.gmail.com
EMAIL_SERVER_PASSWORD=majl xosc mtfu iojj
EMAIL_FROM="Portfolio Contact <no-reply@example.com>"
CONTACT_EMAIL=hichriwassim84@gmail.com
