EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_SECURE=false

EMAIL_SERVER_USER=hichriwassim84@gmail.com
EMAIL_SERVER_PASSWORD=majl xosc mtfu iojj
EMAIL_FROM="Wassim Hichri <hichriwassim84@gmail.com>"
CONTACT_EMAIL=hichriwassim84@gmail.com
